.postWrapper{
    width: 80vw;
    min-height: 20vh;
    display:flex;
    flex-direction: column;
    border: 1px solid #3897f0;
    border-radius: 20px;
    background-color: #e7fafa;
    margin: 20px 0 20px 0;
    color:#3897f0;
}
.postDate{
    font-size: 15px;
}
.authorName{
    font-weight: bold;
    font-size: 20px;

}
.post{
    font-size: 18px;
}